.presentations-col {
	padding: 0px!important;
}

.presentation-room {
	margin-right: 5px!important;
}

.presentation-room-title {
	font-weight: bold;
}

.presentation-break {
	background-color: #ffffee!important;
	min-height: 65px!important;
	max-height: 65px!important;
	overflow-y: auto;
	font-size: 90%;
}

@media (max-width: 989px) {
	.presentation-break-start {
		margin-right: 5px!important;
	}
	.presentation-break-mid {
		margin-right: 5px!important;
	}
	.presentation-break-end {
		margin-right: 5px!important;
	}

	.presentation-none {
		visibility: visible;
		min-height: 50px;
		max-height: 50px;
		padding-left: 15px;
		font-style: italic;
	}
}

@media (min-width: 990px) {
	.break-hidden {
		visibility: hidden;
	}

	.presentation-none {
		visibility: hidden;
		min-height: 157px;
		max-height: 157px;
	}

	.presentation-break-start {
		border-top-right-radius: 0px!important;
		border-bottom-right-radius: 0px!important;
		border-right-style: none!important;
		border-right-width: 0px!important;
	}
	.presentation-break-mid {
		border-top-right-radius: 0px!important;
		border-bottom-right-radius: 0px!important;
		border-top-left-radius: 0px!important;
		border-bottom-left-radius: 0px!important;
		border-right-style: none!important;
		border-right-width: 0px!important;
		border-left-style: none!important;
		border-left-width: 0px!important;
	}
	.presentation-break-end {
		border-top-left-radius: 0px!important;
		border-bottom-left-radius: 0px!important;
		border-left-style: none!important;
		border-left-width: 0px!important;
	}

	.presentation-fullday {
		height: 490px;
	}

	.presentation-session {
		height: 150px;
	}

	.presentation-doublesession {
		height: 320px;
	}

	.presentation-empty {
		height: 170px;
	}
}

.presentation-descr {
	padding: 5px 7px 5px 7px!important;
	min-height: 100px!important;
	max-height: 100px!important;
	font-size: 90%;
	overflow-y: auto;
}

.presentation-descr a {
	color: #fff!important;
}

.presentation-slot {
	padding: 5px 7px 5px 7px!important;
}

.presentation-speaker {
	font-style: italic;
}

.presentation-social-event {
	background-color: #cb4b16;
}

/* Charlas nivel intermadio */
.presentation-intermedio {
	background-color: #b58900!important;
	font-color: #fff!important;
	margin-right: 5px!important;
}

/* Charlas Basicas */
.presentation-basico {
	background-color: #2aa198!important;
	margin-right: 5px!important;
	color: #ffffee;
}

.presentation-breaks {
	background-color: #ffffee!important;
	margin-right: 5px!important;
	color: #111;
}

.presentation-lightning {
	background-color: #ffffee!important;
	margin-right: 5px!important;
	color: #111;
}

/* Keynote */
.presentation-keynotes {
	background-color: #6c71c4!important;
	margin-right: 5px!important;
	color: #ffffee;
}

/* Charlas Avanzadas */
.presentation-avanzado {
	background-color: #d33682!important;
	margin-right: 5px!important;
	color: #ffffee;
}

.panel-heading small {
	font-size: 75%;
	font-style: italic;
}

.presentation {
	position: relative;
}

.jumplink {
	font-size: 75%;
	font-style: italic;
}

